openapi: 3.0.3
info:
  title: Swagger Petstore - OpenAPI 3.0
  description: |-
    Đây là nơi lấy Api của Vifo 
  termsOfService: http://swagger.io/terms/
  contact:
    email: apiteam@swagger.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.11
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
  - url: https://sapi.vifo.vn/
  - url: https://api.vifo.vn/
tags:
  - name: Login
    description: lấy access_token
  - name: families
    description: Lấy danh sách dòng sản phẩm
  - name: providers
    description: Operations about providers
  - name: products
    description: lấy danh sách sản phẩm
  - name: insurance
    description: Tạo tất cả đơn bảo hiểm 
paths:
  /v1/clients/web/admin/login:
    post:
      tags:
        - Login
      summary: Add a UserName and Password
      description: Add a UserName and Password
      operationId: v1/clients/web/admin/login
      requestBody:
        description: After login, you will get a token
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
        required: true
  
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'              
  /v2/families:
    get:
      tags:
        - families
      summary: lấy danh sách dòng sản phẩm
      description: lấy danh sách dòng sản phẩm
      operationId: v2/families
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FamiliesResponse'
  /v2/providers?:
    get:
      tags:
        - providers
      summary: Get list of product families
      description: Retrieve a list of product families
      operationId: v1/families

      security:
        - BearerAuth: []
      parameters:
        - name: family_code
          in: query
          required: true
          schema:
            type: string
          description: The family code
        - name: site_id
          in: query
          required: true

          schema:
            type: integer
          description: The site ID
            
     
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderResponse'
  /v2/insurance:
    post:
      tags:
        - insurance
      summary: Tạo tất cả đơn bảo hiểm
      description: Tạo tất cả đơn bảo hiểm
      operationId: v2/insurance

      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsurancePayload'
      responses:
        '201':
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceResponse'
        '422':
          description: "Unprocessable Entity"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceResponseError422'
        '401':
          description: "Unprocessable Entity"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceResponseError401'
  /v2/insurance/{key}:
 
    get:
      tags: 
       - insurance
      summary: Kiểm tra đơn hàng bảo hiểm 
      operationId: Kiểm tra đơn hàng bảo hiểm 
      security:
        - BearerAuth: []
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: "Order number received from the response of the create order API" 
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceResponseKey'
  /v2/products?:
    get:
      tags:
        - products
      summary: Kiểm tra đơn hàng hủy 
      description: Retrieve a list of products
      operationId: v2/products
      security:
        - BearerAuth: []
      parameters:
        - name: family_code
          in: query
          required: true
          schema:
            type: string
          description: The family code

        - name: provider_code
          in: query
          required: true
          schema:
            type: string
          description: The provider code


        - name: site_id
          in: query
          required: true
          schema:
            type: integer
          description: The site ID


           
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsResponse'



components:
  schemas:
    InsurancePayload:
      oneOf:
        - $ref: '#/components/schemas/InsuranceBody'
        - $ref: '#/components/schemas/InsuranceBodyCar'
        - $ref: '#/components/schemas/InsurancePersonalAccident'
        - $ref: '#/components/schemas/InsuranceCivilLiabilityforCar'
        - $ref: '#/components/schemas/InsuranceVoluntarySocial'
        - $ref: '#/components/schemas/InsuranceHouseholdHealth'
        - $ref: '#/components/schemas/InsuranceCivilLiabilityforBike'
        - $ref: '#/components/schemas/InsuranceCarMaterial'
        - $ref: '#/components/schemas/InsuranceHospital'
        - $ref: '#/components/schemas/ForeignVisitorsInVietnam'
        - $ref: '#/components/schemas/InsuranceHome'
        - $ref: '#/components/schemas/CreditSecurity'
        - $ref: '#/components/schemas/InsuranceDelayChangeFlightCompletely'
        - $ref: '#/components/schemas/InsuranceHomePrivate'
        - $ref: '#/components/schemas/InsuranceDomesticTravel'
        - $ref: '#/components/schemas/InsuranceInternationalTravel'
        - $ref: '#/components/schemas/InsurancePersonalAccidentPA2'
        - $ref: '#/components/schemas/InsuranceHouseholdAccidents'
    InsuranceResponseError401:
      type: object
      properties:
        status:
          type: string
        code:
          type: integer
        message:
          type: string
        errors:
          type: string
        status_code:
          type: integer
      required:
        - status
        - code
        - message
        - errors
        - status_code
    InsuranceResponseError422:
      type: object
      properties:
        status:
          type: string
        code:
          type: integer
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        status_code:
          type: integer
      required:
        - status
        - code
        - message
        - errors
        - status_code
    Login: 
      type: object
      properties:
        username:
          type: string
          example: "Demosale_Quy"
        password:
          type: string
          example: 123456
    LoginResponse:
      type: object
      properties:
        token_type:
          type: string
        expires_in:
          type: integer
        access_token:
          type: string
        refresh_token:
          type: string
    InsuranceBody: 
      type: object
      properties:
                code:
                  type: string
                phone:
                  type: string
                email:
                  type: string
                fullname:
                  type: string
                booking_email:
                  type: string
                booking_code:
                  type: string
                start_date:
                  type: string
                  format: date
                carrier:
                  type: object
                  properties:
                    name:
                      type: string
                    code:
                      type: string
                    national:
                      type: string
                flight_number:
                  type: string
                start_time:
                  type: string
                departure_airport:
                  type: string
                arrival_airport:
                  type: string
                return:
                  type: boolean
                booking_code_return:
                  type: string
                end_date:
                  type: string
                  format: date
                end_time:
                  type: string
                flight_number_return:
                  type: string
                return_carrier:
                  type: object
                  properties:
                    name:
                      type: string
                    code:
                      type: string
                    national:
                      type: string
                beneficiary_list:
                  type: array
                  items:
                    type: object
                    properties:
                      view_key:
                        type: string
                      fullname:
                        type: string
                      nic:
                        type: string
                      away:
                        type: boolean
                      return:
                        type: boolean
                options:
                  type: array
                  items:
                    type: object
                final_amount:
                  type: number
                ticket_price:
                  type: number
                  format: float
                ticket_price_return:
                  type: number
                  format: float
                  required:
                  - code
                  - phone
                  - email
                  - fullname
                  - booking_email
                  - booking_code
                  - start_date
                  - carrier
                  - flight_number
                  - start_time
                  - departure_airport
                  - arrival_airport
                  - return
                  - booking_code_return
                  - end_date
                  - end_time
                  - flight_number_return
                  - return_carrier
                  - beneficiary_list
                  - options
                  - final_amount
                  - ticket_price
                  - ticket_price_return
    InsuranceBodyCar:
      type: object
      properties:
        family_code:
          type: string
        provider_code:
          type: string
        phone:
          type: string
        fullname:
          type: string
        nic:
          type: string
        email:
          type: string
        address:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        plate_no:
          type: string
        chassis_no:
          type: string
        engine_no:
          type: string
        brand:
          type: string
        model:
          type: string
        seat:
          type: number
        year:
          type: number
      required:
        - family_code
        - provider_code
        - phone
        - fullname
        - nic
        - email
        - address
        - start_date
        - end_date
        - plate_no
        - chassis_no
        - engine_no
        - brand
        - model
        - seat
        - year
    InsurancePersonalAccident:
      type: object
      properties:
        product_code:
          type: string
        fullname:
          type: string
        phone:
          type: string
        email:
          type: string
        address:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        final_amount:
          type: number
        gender:
          type: string
        birthday:
          type: string
          format: date
        options:
          type: array
          items:
            type: object
        beneficiary_list:
          type: array
          items:
            type: object
            properties:
              fullname:
                type: string
              gender:
                type: string
              birthday:
                type: string
                format: date
              nic:
                type: string
        attachment_url_files:
          type: array
          items:
            type: string
            format: uri
      required:
        - product_code
        - fullname
        - phone
        - email
        - address
        - start_date
        - end_date
        - final_amount
        - gender
        - birthday
        - options
        - beneficiary_list
        - attachment_url_files  
    InsuranceCivilLiabilityforCar:
      type: object
      properties:
        product_code:
          type: string
        fullname:
          type: string
        phone:
          type: string
        email:
          type: string
        no_plate:
          type: string
        chassis_no:
          type: string
        engine_no:
          type: string
        brand:
          type: object
          properties:
            object:
              type: string
            id:
              type: string
            code:
              type: string
            name:
              type: string
        model:
          type: object
          properties:
            object:
              type: string
            id:
              type: string
            brand_id:
              type: string
            name:
              type: string
            year:
              type: string
              nullable: true
            seat:
              type: number
        seat:
          type: string
        load:
          type: number
        uses:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        year:
          type: string
        options:
          type: array
          items:
            type: string
        final_amount:
          type: number
        address:
          type: string
        ward:
          type: string
        district:
          type: string
        city:
          type: string
        country:
          type: string
        is_export_billing:
          type: boolean
        company_tax_code:
          type: string
        company_name:
          type: string
        company_address:
          type: string
        voluntary_seat:
          type: string
        voluntary_package:
          type: string
        plate_no:
          type: string
      required:
        - product_code
        - fullname
        - phone
        - email
        - no_plate
        - chassis_no
        - engine_no
        - brand
        - model
        - seat
        - load
        - uses
        - start_date
        - end_date
        - year
        - options
        - product_options
        - final_amount
        - address
        - ward
        - district
        - city
        - country
        - is_export_billing
        - company_tax_code
        - company_name
        - company_address
        - voluntary_seat
        - voluntary_package
        - plate_no
    InsuranceVoluntarySocial:
      type: object
      properties:
        product_code:
          type: string
        fullname:
          type: string
        phone:
          type: string
        email:
          type: string
        address:
          type: string
        final_amount:
          type: number
          format: float
        percent:
          type: number
          format: float
        beneficiary_list:
          type: array
          items:
            type: object
            properties:
              fullname:
                type: string
              birthday:
                type: string
                format: date
              nic:
                type: string
              gender:
                type: string
              social_id:
                type: string
              required_value:
                type: string
              required_month:
                type: number
              discount_amount:
                type: number
                format: float
              price:
                type: number
                format: float
              is_social_id_mode:
                type: boolean
        attachment_url_files:
          type: array
          items:
            type: string
            format: uri
        attachment:
          type: array
          items:
            type: string
      required:
        - product_code
        - fullname
        - phone
        - email
        - address
        - final_amount
        - percent
        - beneficiary_list
        - attachment_url_files
        - attachment
    InsuranceHouseholdHealth:
      type: object
      properties:
        product_code:
          type: string
        fullname:
          type: string
        phone:
          type: string
        email:
          type: string
        address:
          type: string
        final_amount:
          type: number
          format: float
        options:
          type: array
          items:
            type: object
        product_options:
          type: array
          items:
            type: object
        beneficiary_list:
          type: array
          items:
            type: object
            properties:
              fullname:
                type: string
              birthday:
                type: string
                format: date
              nic:
                type: string
              medical_id:
                type: string
              city:
                type: string
              hospital:
                type: object
              gender:
                type: string
              is_social_id_mode:
                type: boolean
              price:
                type: number
                format: float
              renewal:
                type: boolean
              hospital_code:
                type: string
              last_start_date:
                type: string
                format: date
              last_end_date:
                type: string
                format: date
              start_date:
                type: string
                format: date
              end_date:
                type: string
                format: date
              ethnicity:
                type: string
        attachment_url_files:
          type: array
          items:
            type: string
            format: uri
        attachment:
          type: array
          items:
            type: string
        shipping:
          type: object
      required:
        - product_code
        - fullname
        - phone
        - email
        - address
        - final_amount
        - options
        - product_options
        - beneficiary_list
        - attachment_url_files
        - attachment
        - shipping 
    InsuranceCivilLiabilityforBike:
      type: object
      properties:
        product_code:
          type: string
        fullname:
          type: string
        phone:
          type: string
        email:
          type: string
        address:
          type: string
        provider_order_number:
          type: string
        no_plate:
          type: string
        chassis_no:
          type: string
        engine_no:
          type: string
        bike_type:
          type: string
        start_date:
          type: string
          format: date
        year:
          type: string
        end_date:
          type: string
          format: date
        final_amount:
          type: number
          format: float
        options:
          type: array
          items:
            type: object
        attachment_url_files:
          type: array
          items:
            type: string
            format: uri
        ward:
          type: string
        district:
          type: string
        city:
          type: object
          properties:
            name:
              type: string
            slug:
              type: string
            type:
              type: string
            name_with_type:
              type: string
            code:
              type: string
        country:
          type: string
      required:
        - product_code
        - fullname
        - phone
        - email
        - address
        - provider_order_number
        - no_plate
        - chassis_no
        - engine_no
        - bike_type
        - start_date
        - year
        - end_date
        - final_amount
        - options
        - attachment_url_files
        - ward
        - district
        - city
        - country 
    InsuranceCarMaterial:
      type: object
      properties:
        product_code:
          type: string
        fullname:
          type: string
        phone:
          type: string
        email:
          type: string
        address:
          type: string
        plate_no:
          type: string
        chassis_no:
          type: string
        engine_no:
          type: string
        brand:
          type: string
        model:
          type: string
        seat:
          type: string
        load:
          type: string
        uses:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        year:
          type: string
        payment_date:
          type: string
          format: date
        options:
          type: array
          items:
            type: string
        final_amount:
          type: number
          format: float
        declared_value:
          type: number
          format: float
        required_value:
          type: number
          format: float
        percent:
          type: number
          format: float
        percent_diff:
          type: number
          format: float
        attachment_url_files:
          type: array
          items:
            type: string
            format: uri
        attachment:
          type: array
          items:
            type: string
        nic:
          type: string
      required:
        - product_code
        - fullname
        - phone
        - email
        - address
        - plate_no
        - chassis_no
        - engine_no
        - brand
        - model
        - seat
        - load
        - uses
        - start_date
        - end_date
        - year
        - payment_date
        - options
        - final_amount
        - declared_value
        - required_value
        - percent
        - percent_diff
        - attachment_url_files
        - attachment
        - nic 
    InsuranceHospital:
      type: object
      properties:
        product_code:
          type: string
        fullname:
          type: string
        phone:
          type: string
        email:
          type: string
        address:
          type: string
        final_amount:
          type: number
          format: float
        options:
          type: array
          items:
            type: object
        beneficiary_list:
          type: array
          items:
            type: object
            properties:
              fullname:
                type: string
              birthday:
                type: string
                format: date
              nic:
                type: string
              gender:
                type: string
        attachment_url_files:
          type: string
          nullable: true
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        is_export_billing:
          type: boolean
        company_tax_code:
          type: string
        company_name:
          type: string
        company_address:
          type: string
      required:
        - product_code
        - fullname
        - phone
        - email
        - address
        - final_amount
        - options
        - beneficiary_list
        - start_date
        - end_date
        - is_export_billing
        - company_tax_code
        - company_name
        - company_address
    InsurancePersonalAccidentPA2: 
      type: object
      properties:
        product_code:
          type: string
        fullname:
          type: string
        phone:
          type: string
        email:
          type: string
        address:
          type: string
        provider_order_number:
          type: string
        start_date:
          type: string
          format: date
        year:
          type: string
          nullable: true
        end_date:
          type: string
          format: date
        final_amount:
          type: number
          format: float
        gender:
          type: string
        birthday:
          type: string
          format: date
        options:
          type: array
          items:
            type: object
        beneficiary_list:
          type: array
          items:
            type: object
            properties:
              fullname:
                type: string
              birthday:
                type: string
                format: date
              nic:
                type: string
              phone:
                type: string
              address:
                type: string
              email:
                type: string
        attachment_url_files:
          type: array
          items:
            type: string
            format: uri
        conditional_questions:
          type: array
          items:
            type: object
      required:
        - product_code
        - fullname
        - phone
        - email
        - address
        - provider_order_number
        - start_date
        - year
        - end_date
        - final_amount
        - gender
        - birthday
        - options
        - beneficiary_list
        - attachment_url_files
        - conditional_questions
    InsuranceHouseholdAccidents:
      type: object
      properties:
        product_code:
          type: string
        fullname:
          type: string
        phone:
          type: string
        email:
          type: string
        address:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        final_amount:
          type: number
          format: float
        gender:
          type: string
        birthday:
          type: string
          format: date
        nic:
          type: string
        options:
          type: array
          items:
            type: object
        beneficiary_list:
          type: array
          items:
            type: object
            properties:
              fullname:
                type: string
              birthday:
                type: string
                format: date
              nic:
                type: string
              gender:
                type: string
              phone:
                type: string
              address:
                type: string
              email:
                type: string
              relationship:
                type: integer
        attachment_url_files:
          type: array
          items:
            type: string
            format: uri
      required:
        - product_code
        - fullname
        - phone
        - email
        - address
        - start_date
        - end_date
        - final_amount
        - gender
        - birthday
        - nic
        - options
        - beneficiary_list
        - attachment_url_files
    
    ForeignVisitorsInVietnam:
      type: object
      properties:
        product_code:
          type: string
        fullname:
          type: string
        phone:
          type: string
        email:
          type: string
        address:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        final_amount:
          type: number
          format: float
        destination:
          type: string
        birthday:
          type: string
          format: date
        nic:
          type: string
        options:
          type: array
          items:
            type: object
        beneficiary_list:
          type: array
          items:
            type: object
            properties:
              fullname:
                type: string
              birthday:
                type: string
                format: date
              nic:
                type: string
      required:
        - product_code
        - fullname
        - phone
        - email
        - address
        - start_date
        - end_date
        - final_amount
        - destination
        - birthday
        - nic
        - options
        - beneficiary_list
    InsuranceHome:
      type: object
      properties:
        product_code:
          type: string
        fullname:
          type: string
        phone:
          type: string
        email:
          type: string
        address:
          type: string
        start_date:
          type: string
          format: date
        year:
          type: string
        end_date:
          type: string
          format: date
        final_amount:
          type: number
          format: float
        nic:
          type: string
        options:
          type: array
          items:
            type: string
        beneficiary_list:
          type: array
          items:
            type: object
            properties:
              address:
                type: string
              built_year:
                type: string
              declared_value:
                type: number
                format: float
              bank_name:
                type: string
              bank_branch:
                type: string
              bank_address:
                type: string
              note:
                type: string
              required_value:
                type: number
                format: float
        attachment_url_files:
          type: array
          items:
            type: string
            format: uri
        percent:
          type: number
          format: float
        final_percent:
          type: number
          format: float
        option_extends:
          type: array
          items:
            type: object
            properties:
              option:
                type: string
              required_value:
                type: number
                format: float
        declared_value:
          type: number
          format: float
      required:
        - product_code
        - fullname
        - phone
        - email
        - address
        - start_date
        - year
        - end_date
        - final_amount
        - nic
        - options
        - beneficiary_list
        - attachment_url_files
        - percent
        - final_percent
        - option_extends
        - declared_value 
    CreditSecurity:
      type: object
      properties:
        product_code:
          type: string
        fullname:
          type: string
        phone:
          type: string
        email:
          type: string
        address:
          type: string
        provider_order_number:
          type: string
        start_date:
          type: string
          format: date
        year:
          type: string
          nullable: true
        end_date:
          type: string
          format: date
        final_amount:
          type: number
          format: float
        gender:
          type: string
        birthday:
          type: string
          format: date
        nic:
          type: string
        ward:
          type: string
        district:
          type: string
        city:
          type: string
        country:
          type: string
        options:
          type: array
          items:
            type: object
        no_contract:
          type: string
        contract_value:
          type: number
          format: float
        percent:
          type: number
          format: float
        month:
          type: string
        beneficiary_list:
          type: array
          items:
            type: object
            properties:
              fullname:
                type: string
              address:
                type: string
              mst:
                type: string
              required_value:
                type: number
                format: float
        attachment_url_files:
          type: array
          items:
            type: string
            format: uri
      required:
        - product_code
        - fullname
        - phone
        - email
        - address
        - provider_order_number
        - start_date
        - year
        - end_date
        - final_amount
        - gender
        - birthday
        - nic
        - ward
        - district
        - city
        - country
        - options
        - no_contract
        - contract_value
        - percent
        - month
        - beneficiary_list
        - attachment_url_files
    InsuranceDelayChangeFlightCompletely:
      type: object
      properties:
        product_code:
          type: string
        phone:
          type: string
        email:
          type: string
        fullname:
          type: string
        booking_email:
          type: string
        booking_code:
          type: string
        start_date:
          type: string
          format: date
        carrier:
          type: object
          properties:
            code:
              type: string
            name:
              type: string
        flight_number:
          type: string
        start_time:
          type: string
        departure_airport:
          type: string
        arrival_airport:
          type: string
        return:
          type: boolean
        booking_code_return:
          type: string
        end_date:
          type: string
          format: date
        end_time:
          type: string
        flight_number_return:
          type: string
        return_carrier:
          type: object
          properties:
            code:
              type: string
            name:
              type: string
        beneficiary_list:
          type: array
          items:
            type: object
            properties:
              fullname:
                type: string
              nic:
                type: string
              away:
                type: boolean
              return:
                type: boolean
        options:
          type: array
          items:
            type: object
        final_amount:
          type: number
          format: float
      required:
        - product_code
        - phone
        - email
        - fullname
        - booking_email
        - booking_code
        - start_date
        - carrier
        - flight_number
        - start_time
        - departure_airport
        - arrival_airport
        - return
        - booking_code_return
        - end_date
        - end_time
        - flight_number_return
        - return_carrier
        - beneficiary_list
        - options
        - final_amount
    InsuranceHomePrivate:
      type: object
      properties:
        product_code:
          type: string
        fullname:
          type: string
        phone:
          type: string
        email:
          type: string
        address:
          type: string
        provider_order_number:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        final_amount:
          type: number
          format: float
        options:
          type: array
          items:
            type: string
        beneficiary_list:
          type: array
          items:
            type: object
            properties:
              home_type:
                type: string
              owner_type:
                type: string
              built_year:
                type: integer
              purpose_of_use:
                type: string
              purpose_text:
                type: string
        beneficiary_company:
          type: string
        is_export_billing:
          type: boolean
        owner_type:
          type: string
        nic:
          type: string
        company_tax_code:
          type: string
        company_address:
          type: string
        company_name:
          type: string
      required:
        - product_code
        - fullname
        - phone
        - email
        - address
        - provider_order_number
        - start_date
        - end_date
        - final_amount
        - options
        - beneficiary_list
        - beneficiary_company
        - is_export_billing
        - owner_type
        - nic
        - company_tax_code
        - company_address
        - company_name
    FamiliesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              icon:
                type: string
              translation:
                type: object
                properties:
                  en: 
                    type: object
                    properties: 
                      name: 
                        type: string
                      slug: 
                        type: string
                      description: 
                        type: string
                      promotion_text: 
                        type: string
                  vi: 
                    type: object
                    properties: 
                      name: 
                        type: string
                      slug: 
                        type: string
                      description: 
                        type: string
                     
                      promotion_text: 
                        type: string
              template_file:
                type: string
                nullable: true
              product_count:
                type: integer
              created_at:
                type: object
                properties:
                  date:
                    type: string
                    format: date-time
                  timezone_type:
                    type: integer
                  timezone:
                    type: string
              updated_at:
                type: object
                properties:
                  date:
                    type: string
                    format: date-time
                  timezone_type:
                    type: integer
                  timezone:
                    type: string
    ProviderResponse: 
      type: object
      properties:
        family_code: 
          type: string
        data:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              code:
                type: string
    ProductsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              family_code:
                type: string
              provider_code:
                type: string
              product_code:
                type: string
              name:
                type: string
              name_vi:
                type: string
              icon:
                type: string
              product_rank_code:
                type: string
              price:
                type: number
                format: float
              payment_term:
                type: integer
              options:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                    type:
                      type: string
                    values:
                      type: array
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                          title:
                            type: string
                          sku:
                            type: string
                          price:
                            type: number
                            format: float
              product_detail_file:
                type: string
              product_term_file:
                type: string
              coverages:
                type: array
                items:
                  type: object
                  properties:
                    key:
                      type: string
                    label:
                      type: string
                    type:
                      type: string
                    value:
                      type: string
                    position:
                      type: integer
                    label_vi:
                      type: string
        meta:
          type: object
          properties:
            include:
              type: array
              items:
                type: string
            custom:
              type: array
              items:
                type: string
            pagination:
              type: object
              properties:
                total:
                  type: integer
                count:
                  type: integer
                per_page:
                  type: integer
                current_page:
                  type: integer
                total_pages:
                  type: integer
                links:
                  type: object
                  properties:
                    next:
                      type: string
    InsuranceResponse:
      type: object
      properties:
                  status:
                    type: string
                    example: "success"
                  data:
                    type: object
                    properties:
                      order_number:
                        type: string
                      provider_code:
                        type: string
                      product:
                        type: object
                        properties:
                          family:
                            type: string
                          name:
                            type: string
                          code:
                            type: string
                          provider:
                            type: string
                          price:
                            type: object
                            properties:
                              original_price:
                                type: number
                              sale_price:
                                type: number
                              extra_price:
                                type: number
                              payment_term:
                                type: number
                      amount:
                        type: number
                      amount_before_tax:
                        type: number
                      customer:
                        type: object
                        properties:
                          name:
                            type: string
                          phone:
                            type: string
                          email:
                            type: string
                          dob:
                            type: string
                          address:
                            type: string
                          nic:
                            type: string
                      payment:
                        type: array
                        items:
                          type: object
                          properties:
                            order_number:
                              type: string
                            payment_method:
                              type: string
                            payment_term:
                              type: number
                            amount:
                              type: number
                            discount_code:
                              type: string
                            discount_amount:
                              type: number
                            final_amount:
                              type: number
                            payment_status:
                              type: number
                      contract_files:
                        type: array
                        items:
                          type: object
                          properties:
                            filename:
                              type: string
                              description: "Tên file giấy chứng nhận"
                            url:
                              type: string
                              description: "URL giấy chứng nhận"
                      start_date:
                        type: string
                        format: date
                      end_date:
                        type: string
                        format: date
                      commissions:
                        type: object
                        properties:
                          saleman_name:
                            type: string
                          commission_amount:
                            type: number
                          percent:
                            type: number
                            format: double
                          level:
                            type: number
                          child:
                            type: array
                            items:
                              type: object
                      options:
                        type: array
                        items:
                          type: object
                      beneficiary:
                        type: array
                        items:
                          type: object
                          properties:
                            fullname:
                              type: string
                            gender:
                              type: string
                            birthday:
                              type: string
                              format: date
                            nic:
                              type: string
                            nationality:
                              type: string
                  status_code:
                    type: integer
                    example: 201
    InsuranceDomesticTravel:
      type: object
      properties:
        product_code:
          type: string
        fullname:
          type: string
        phone:
          type: string
        email:
          type: string
        address:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        final_amount:
          type: number
          format: float
        gender:
          type: string
        destination:
          type: string
        birthday:
          type: string
          format: date
        beneficiary_list:
          type: array
          items:
            type: object
            properties:
              fullname:
                type: string
              birthday:
                type: string
                format: date
              nic:
                type: string
      required:
        - product_code
        - fullname
        - phone
        - email
        - address
        - start_date
        - end_date
        - final_amount
        - gender
        - destination
        - birthday
        - beneficiary_list
    InsuranceInternationalTravel:
      type: object
      properties:
        product_code:
          type: string
        fullname:
          type: string
        phone:
          type: string
        email:
          type: string
        address:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        final_amount:
          type: number
          format: float
        gender:
          type: string
        destination:
          type: string
        birthday:
          type: string
          format: date
        nic:
          type: string
        options:
          type: array
          items:
            type: object
        nationality:
          type: string
        beneficiary_list:
          type: array
          items:
            type: object
            properties:
              fullname:
                type: string
              gender:
                type: string
              birthday:
                type: string
                format: date
              nic:
                type: string
              nationality:
                type: string
              relationship:
                type: integer
      required:
        - product_code
        - fullname
        - phone
        - email
        - address
        - start_date
        - end_date
        - final_amount
        - gender
        - destination
        - birthday
        - nic
        - options
        - nationality
        - beneficiary_list
    
    InsuranceResponseKey:
      type: object
      properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      order_number:
                        type: string
                      provider_order_number:
                        type: string
                        nullable: true
                      distributor_order_number:
                        type: string
                        nullable: true
                      amount:
                        type: number
                      amount_before_tax:
                        type: number
                      refer_id:
                        type: string
                        nullable: true
                      product:
                        type: object
                        properties:
                          family:
                            type: string
                          name:
                            type: string
                          code:
                            type: string
                          provider:
                            type: string
                          price:
                            type: number
                          price_term:
                            type: string
                      commissions:
                        type: object
                        properties:
                          saleman_name:
                            type: string
                          commission_amount:
                            type: number
                          percent:
                            type: string
                          level:
                            type: number
                          child:
                            type: array
                            items:
                              type: object
                              nullable: true
  
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT